<nav role="navigation" class="orange">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">Project X</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Nothing Yet</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Home</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center orange-text">Project X</h1>
            <div class="row center">
                <h5 class="header col s12 light orange-text text-lighten-5">The First Ever Gym Partner App</h5>
            </div>
            <div class="row center">
                <a href="#"  class="btn-large orange">Download</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="images/background1.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row orange-text text-lighten-3">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">fitness_center</i></h2>
                    <h5 class="center">Hit The Gym With a Partner!</h5>

                    <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
                </div>
            </div>

            <div class="col s12 m4 ">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Meet Other Like Minded Individuals!</h5>

                    <p class="light">By meeting new people you can expand your knowledge or help someone else expand theirs. Want to get into a specific branch of
                    fitness? Find someone to help show you the ropes and get yourself started today!</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">account_balance_wallet</i></h2>
                    <h5 class="center">Don't Throw Away Your Money!</h5>

                    <p class="light">You spend good money on that gym membership. Why pay for it and not go, solely because you don't know what to do or don't want to work out alone?</p>
                </div>
            </div>
        </div>

    </div>
</div>

</footer>